---
import ArrayTitle from '../arrayTitle/ArrayTitle.astro';
import { FadeIn } from '../FadeIn';
import { PublicationDeck } from '../publications/PublicationDeck';
import type { Publication } from '../../data/schema';
import { type Locale } from '../../i18n';
import publicationsData from '../../data/publications.json';

interface Props {
  lang: Locale;
}

const { lang } = Astro.props;
const publications = publicationsData as Publication[];
---

<FadeIn client:load delay={0.3} className="mb-32">
  <section id="publications">
    {/* Section Header */}
    <div class="section-label">
      <ArrayTitle translationKey={'section.publications'} lang={lang} />
    </div>

    {/* Publications Stacked Deck */}
    <PublicationDeck client:load publications={publications} lang={lang} />
  </section>
</FadeIn>
