---
import ArrayTitle from '../arrayTitle/ArrayTitle.astro';
import { FadeIn } from '../FadeIn';
import PublicationCard from '../publications/PublicationCard.astro';
import type { Publication } from '../../data/schema';
import { useTranslations, type Locale } from '../../i18n';
import enData from '../../data/publications.en.json';
import plData from '../../data/publications.pl.json';

interface Props {
  lang: Locale;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
// FIXME: restructure publication data for one json file with optional PL fields instead of two separate files
const publications = (lang === 'pl' ? plData : enData) as Publication[];
---

<FadeIn client:load delay={0.3} className="mb-32">
  <section id="publications">
    {/* Section Header */}
     <div class="section-label">
	<ArrayTitle translationKey={'section.publications'} lang={lang} />
     </div>

    {/* Publications Grid */}
    <div class="grid-responsive-2">
      {publications.map((pub, index) => (
        <PublicationCard publication={pub} index={index} lang={lang} />
      ))}
    </div>
  </section>
</FadeIn>
