---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import ExperienceTimeline from "../sections/ExperienceTimeline.astro";
import PublicationsSection from "../sections/PublicationsSection.astro";
import FeaturedProductsSection from "../sections/FeaturedProductsSection.astro";
import ContactSection from "../sections/ContactSection.astro";
import Hero from "../sections/Hero.astro";
import Footer from "../sections/Footer.astro";
import { getTranslations } from "../i18n";

const t = getTranslations(Astro.currentLocale);
---

<Layout title={t("layout.title")}>
  <Header />

  <div class="hero-zone">
    <div class="page-container">
      <Hero />
    </div>
  </div>

  <div class="page-container">
    <main id="main-content">
      <ExperienceTimeline />
      <PublicationsSection />
      <FeaturedProductsSection />
      <ContactSection />
    </main>
  </div>
  <Footer />
</Layout>
