---
// GOOD
import { getRelativeLocaleUrl } from "astro:i18n";
import { LOCALE_META, locales, type Locale } from "../i18n";
import Button from "./button/Button.astro";

const currentLang = Astro.currentLocale as Locale;
const otherLocales = locales.filter((lang) => lang !== currentLang);
---

{
  otherLocales.map((lang) => (
    <Button
      href={getRelativeLocaleUrl(lang, "/")}
      variant="icon"
      aria-label={`Switch to ${LOCALE_META[lang].label}`}
    >
      {lang.toUpperCase()}
    </Button>
  ))
}
