---
// GOOD
import { getTranslations, type TranslationKey } from "../../i18n";

type Props = {
  translationKey: TranslationKey;
};

const { translationKey } = Astro.props;
const t = getTranslations(Astro.currentLocale);
---

<span>
  {`[ ${t(translationKey)} ]`}
</span>
