---
import { getTranslations, type TranslationKey } from '../../i18n';

interface Props {
  translationKey: TranslationKey;
}

const { translationKey } = Astro.props;
const t = getTranslations(Astro.currentLocale);
---
<span>
  {`[ ${t(translationKey)} ]`}
</span>
