---
type Props = {
  focus: string;
};

const { focus } = Astro.props;
---

<p
  class="text-micro font-mono tracking-technical text-foreground/60 mb-4 short:mb-2 uppercase md:border-l-2 border-foreground/30 pl-3"
>
  <span class="text-foreground/50 mr-2">{"//"}</span>
  {focus}
</p>
