---
type Props = {
  highlights: string[];
};

const { highlights } = Astro.props;
---

<ul class="space-y-3 mb-8">
  {
    highlights.map((h) => (
      <li class="text-body text-muted/80 flex gap-4 leading-relaxed">
        <span class="text-foreground/20 flex-shrink-0 font-mono select-none mt-1">
          -&gt;
        </span>
        <span>{h}</span>
      </li>
    ))
  }
</ul>
