---
type Props = {
  highlights: string[];
};

const { highlights } = Astro.props;
---

<ul class="space-y-3 short:space-y-2 mb-8 short:mb-5">
  {
    highlights.map((highlight) => (
      <li class="text-body text-lg short:text-sm text-muted/80 flex gap-4">
        <span class="text-foreground/40 flex-shrink-0 font-mono select-none mt-1">
          -&gt;
        </span>
        <span>{highlight}</span>
      </li>
    ))
  }
</ul>
